.Landing {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}


.distortion {
    width: 850px;
    height: 1000px;
    
}

.intro {
    align-self: center;
}

.intro h2 {
    font-size: 50px;
}

.intro p {
    font-size: 25px;
}